html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: aliceblue;
}

.wrap {
    padding: 5%;
}

.highscoreLink {
    color: #d000d0;
}

#titleAndQuestion {
    font-size: 32px;
    margin: auto;
}